/* Animation */

.fade-up-hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s;

}

.fade-up-show {
    opacity: 1;
    transform: translateY(0);
}

.fade-left-hidden {
    opacity: 0;
    transform: translateX(-15%);
    transition: 0.5s;
}

.fade-left-show {
    opacity: 1;
    transform: translateX(0);
}

.fade-right-hidden {
    opacity: 0;
    transform: translateX(15%);
    transition: 0.5s;
}

.fade-right-show {
    opacity: 1;
    transform: translateX(0);
}


.fade-down-hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s;
}

.fade-down-show {
    opacity: 1;
    transform: translateY(0);
}


.scale-in-hidden{
    transform: scale(0);
    transition: 0.3s;
}
.scale-in-show{
    transform: scale(1);
}


.diagonal-Flip-hidden{
    opacity: 0;
    transform: perspective(1000px) rotate3d(1, 0, 0, 180deg);
    transition: .4s;
    transition: 0.5s;
}


.diagonal-Flip-show{
    opacity: 1;
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}


.flip-left-hidden{
    opacity: 0;
    transform: perspective(1000px) rotateY(180deg);
    transition: 0.5s;
}

.flip-left-show{
    opacity: 1;
    transform: perspective(1000px) rotateY(0deg);
}